################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Tfl Test/v15/Server/sqlite3
/.vs/Tfl Test/v15/.suo
/Tfl Test/bin/Debug
/Tfl Test/obj/Debug
/Tfl Test/Tfl Test.csproj.user
/Tfl Test.sln.DotSettings.user
